{% extends 'home_new.html' %}
{% load staticfiles %}


{% block body_block %}
    <div class="container my_bg">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{% static 'img/main_bg/first_bg.jpg' %}" alt="Фото 1">
                </div>

                <div class="item">
                    <img src="{% static 'img/main_bg/second_bg.jpg' %}" alt="Фото 2">
                </div>

                <div class="item">
                    <img src="{% static 'img/main_bg/third_bg.jpg' %}" alt="Фото 3">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Предыдущая</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Следующая</span>
            </a>
        </div>
    </div>
    <!-- Header -->
    <section class="info">
        <div class="container text-center">
            <div class="intro-text text-justify">
                <div class="intro-lead-in">
                    <div class="container-fluid">
                        <div class="col-12 text-center">
                            <h1>EKZARTA-BALANCE</h1>
                        </div>
                        <div class="col-6 offset-md-3">
                            <h4>Территория умных практик здоровья. Клуб с философией индивидуальности,
                                помогающий клиентам сочетать деловую активность со спортом, повышающий качество их
                                жизни.
                                Мы используем методики проверенные временем, ответственно подходим к тренировочному
                                процессу,
                                уделяем должное внимание эффективному восстановлению.<br>
                                Лидерство в спорте + лидерство в жизни = Ваше лидерство в бизнесе.<br>
                                Идеальное место, где царит атмосфера гармонии, внимания и комфорта, где забота о клиенте
                                ощущается в мелочах, где гость становится единомышленником.
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
            <a href="#trainings" class="page-scroll btn btn-xl"><h4 class="panel-title">Узнать больше</h4></a>

        </div>
    </section>
    <section id="trainings">
        <div class="container">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <h4 class="panel-title">
                                Биохакинг <i class="fa fa-plus-circle"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="h5">
                                <li> Методика NEURAC: нейромышечное тестирование "слабого звена" опорно-двигательного
                                    аппарата.
                                </li>
                                <li> Мануально-мышечное тестирование по системе прикладной кинезиологии.
                                </li>
                                <li> Пройти тест-исследование ДНК и его влияние на метаболизм, здоровье, физические
                                    способности
                                    организма.
                                </li>
                                <li> Анализ состава тела (биомпедансметрия): измерение базального метаболизма, процент
                                    подкожно-жировой
                                    клетчатки, объём сухой мышечной массы.
                                </li>
                                <li> Консультация нутрициолога (формирование здорового пищевого поведения).
                                </li>
                                <li> Индивидуальные и оздоровительные программы и сопровождение в тренировочном
                                    процессе.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">

                            <h4 class="panel-title">
                                Экзарта <i class="fa fa-plus-circle"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Методика NEURAC: нейромышечное тестирование "слабого звена" опорно-двигательного
                                    аппарата
                                </li>
                                <li>Мануально-мышечное тестирование по системе прикладной кинезиологии
                                </li>
                                <li>Пройти тест-исследование ДНК и его влияние на метаболизм, здоровье, физические
                                    способности
                                    организма
                                </li>
                                <li>Анализ состава тела (биомпедансметрия): измерение базального метаболизма, процент
                                    подкожно-жировой
                                    клетчатки, объём сухой мышечной массы
                                </li>
                                <li>Консультация нутрициолога (формирование здорового пищевого поведения)
                                </li>
                                <li>Индивидуальные и оздоровительные программы и сопровождение в тренировочном процессе
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">

                            <h4 class="panel-title">
                                Фитнес <i class="fa fa-plus-circle"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Классические силовые тренировки -функциональные тренировки: BODYBALANCE, TRX,
                                    METABOLIC, FITBALL TRAINING, HOT BUNS
                                </li>
                                <li>Экзарта - 3D тренировка в воздухе</li>

                                <li>COMBAT: SAVATE, Тайский Бокс, Рукопашный Бой</li>
                                <li>Тренировки для женщин во время беременности и в постнатальный период</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">

                            <h4 class="panel-title">
                                Восстановление и Релакс <i class="fa fa-plus-circle"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Восстановление после травм (ПНФ, КАЛЬТЕНБОРН)
                                </li>
                                <li>REGENERATION - восстановитесь после физической нагрузки и стресса</li>
                                <li>MOBILITY (Улучшает подвижность суставов, эластичность мышц и связок, растяжку)</li>
                                <li>NORMATEC</li>
                                <li>STRETCHING</li>
                                <li>PILATES MAT</li>
                                <li>ANIMAL FLOW</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">

                            <h4 class="panel-title">
                                Спорт <i class="fa fa-plus-circle"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Сопровождение профессиональных спортсменов</li>
                                <li>Предсезонная подготовка</li>
                                <li>Разработка плана индивидуальных тренировок</li>
                                <li>Восстановление после травм</li>
                                <li>Экзарта - тотальный контроль над своим телом</li>
                                <li>Общая физическая подготовка (сила, выносливость, скорость, гибкость, координация)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">

                            <h4 class="panel-title">
                                Территория красоты <i class="fa fa-plus-circle"></i>
                            </h4>
                        </a>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Массаж классический</li>
                                <li>Массаж антицеллюлитный</li>
                                <li>Массаж миофасциальный</li>
                                <li>Массаж висцеральный</li>
                                <li>Массаж лимфодренажный</li>
                                <li>Массаж с глубокой проработкой триггерных точек</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="services" class="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Область применения</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="{% static 'img/img_bottom/3_bottom.jpg' %}" class="img-circle" alt="Тренировки"
                         width="236"
                         height="236">
                    <h4 class="service-heading">Тренировки</h4>
                    <p class="text-muted">
                        При помощи специальных тестов Экзарта выявляются слабые и неработающие мышцы,
                        что позволяет подобрать индивидуальную программу тренировок.
                        Тренировка на установке Экзарта, основанна на активизации неработающих мышц.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/img_bottom/1_bottom.jpg' %}" class="img-circle" alt="Тренировки"
                         width="236"
                         height="236">
                    <h4 class="service-heading">Восстановление</h4>
                    <p class="text-muted">
                        Восстановление подвижности суставов и улучшение функций мышц.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/img_bottom/2_bottom.jpg' %}" class="img-circle" alt="Тренировки"
                         width="236"
                         height="236">
                    <h4 class="service-heading">Здоровье</h4>
                    <p class="text-muted">
                        Достижение оптимального результата в долгосрочной перспективе. Позволит чувствовать себя
                        здоровым.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Reviews -->
{% endblock %}

