<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="{% static 'css/fullpage.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Sansita:400,700&display=swap" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <title>Ekzarta-balance</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
</head>
<body>
<div id="fullpage">


    <section class="section s1">
        <header>
            <!-- Image and text -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">EKZARTA-BALANCE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav p-0 pt-2 pb-2">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                </div>
            </nav>


        </header>
        <main>
            <div class="container">
                <h1>EKZARTA-BALANCE</h1>
                - территория умных практик здоровья. Клуб с философией индивидуальности, помогающий
                клиентам сочетать деловую активность со спортом, повышающий качество их жизни.
                Мы используем методики проверенные временем, ответственно подходим к тренировочному процессу, уделяем
                должное внимание эффективному восстановлению.
                Лидерство в спорте + лидерство в жизни = Ваше лидерство в бизнесе.
                Идеальное место, где царит атмосфера гармонии, внимания и комфорта, где
                забота о
                клиенте ощущается в мелочах, где гость становится единомышленником.
            </div>
        </main>
    </section>
    <section class="section s2">
        <h1>БИОХАКИНГ</h1>
        <div class="container description">
            <ul class="">
                <li> Методика NEURAC: нейромышечное тестирование "слабого звена" опорно-двигательного аппарата.
                </li>
                <li> Мануально-мышечное тестирование по системе прикладной кинезиологии.
                </li>
                <li> Пройти тест-исследование ДНК и его влияние на метаболизм, здоровье, физические способности
                    организма.
                </li>
                <li> Анализ состава тела (биомпедансметрия): измерение базального метаболизма, процент подкожно-жировой
                    клетчатки, объём сухой мышечной массы.
                </li>
                <li> Консультация нутрициолога (формирование здорового пищевого поведения).
                </li>
                <li> Индивидуальные и оздоровительные программы и сопровождение в тренировочном процессе.
                </li>
            </ul>
        </div>
    </section>
    <section class="section s2">
        <h1>ЭКЗАРТА</h1>
        <div class="container description">
            <ul>
                <li> Методика NEURAC: нейромышечное тестирование "слабого звена" опорно-двигательного аппарата
                </li>
                <li> Мануально-мышечное тестирование по системе прикладной кинезиологии
                </li>
                <li> Пройти тест-исследование ДНК и его влияние на метаболизм, здоровье, физические способности
                    организма
                </li>
                <li> Анализ состава тела (биомпедансметрия): измерение базального метаболизма, процент подкожно-жировой
                    клетчатки, объём сухой мышечной массы
                </li>
                <li> Консультация нутрициолога (формирование здорового пищевого поведения)
                </li>
                <li> Индивидуальные и оздоровительные программы и сопровождение в тренировочном процессе
                </li>
            </ul>
        </div>
    </section>
    <section class="section s4">
        <h1>A word from us</h1>
        <div class="review">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br/>
                Vero necessitatibus eveniet tempora in. <br/>
                Fugit accusamus ut minus labore modi eum quisquam beatae nobis.
                <br/>
                Accusantium odio non numquam repellat ducimus, aliquam odit eveniet
                <br/>
                natus quod aspernatur voluptatem omnis voluptatum veritatis?
            </p>
        </div>
    </section>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U="
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
        integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk="
        crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="{% static 'js/fullpage.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
