{% extends 'home_new.html' %}
{% load staticfiles %}
{% block body_block %}
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Наша команда</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                {% for emp in employee.all %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img class="rounded-circle" src="{{ emp.img.url }}" height=200 width=200 />
                        <h4>{{ emp.first_name }} {{ emp.last_name }}</h4>
                        <p class="text-muted">{{ emp.info }}</p>
                        <p class="text-muted">{{ emp.email }}</p>
                        <p class="text-muted">{{ emp.website }}</p>
                        <p class="text-muted">{{ emp.skills }}</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}