{% extends 'home_new.html' %}
{% load staticfiles%}
{% block body_block %}
<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Обучение и семинары</h2>
        <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/func.jpg' %}" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Функциональный тренинг</h4>
          <p class="text-muted">Lorem ipsum dolor</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/photo_2.jpg' %}" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Экзарта</h4>
          <p class="text-muted">умный фитнес</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/yoga.jpg' %}" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Йога</h4>
          <p class="text-muted">Lorem ipsum dolor</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/stretching.jpg' %}" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Стретчинг ПНФ</h4>
          <p class="text-muted">Lorem ipsum dolor</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/mio.jpg' %}" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Мышечное освобождение</h4>
          <p class="text-muted">Lorem ipsum dolor</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/athletes.jpg' %}" class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Тренировка спортсменов</h4>
          <p class="text-muted">Lorem ipsum dolor</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>ЭКЗАРТА Silver</h2>
              <p class="item-intro text-muted">1-я ступень<br>Продолжительность: 5 дней</p>
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #c0c0c0;margin-bottom: 5px"></i>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="Экзарта silver"> -->
              <p class="main">ЭКЗАРТА Silver - это начальный уровень изучения технологии ЭКЗАРТА. После завершения курса ЭКЗАРТА Silver вы научитесь использовать диагностическую систему ЭКЗАРТА, овладеете базовыми техниками и упражнениями, которые
                позволяют быстро уменьшить и устранить боль, восстановить функциональные движения.</p>
              <p class="main">Простота и эффективность технологии с использованием кинезитерапевтической установки «ЭКЗАРТА» делает ее незаменимым дополнением к обычным методам терапии и не имеет равных для устранения источника боли и улучшения
                функций опорно-двигательного аппарата.</p>
              <p class="main">Курс ЭКЗАРТА Silver наглядно демонстрирует возможности применения установки «ЭКЗАРТА» для минимизации усилий инструктора при необходимости в тяжелой механической работе, с использованием ключевых биомеханических
                принципов оптимальной активации мышц и улучшения функций: </p>
              <ul class="main_ul">
                <li>большое количество упражнений в закрытой кинематической цепи (упражнения с весом собственного тела)</li>
                <li>неустойчивость (нестабильность) опоры</li>
                <li>движения в нескольких плоскостях (3D-тренировка)</li>
                <li>точная прогрессия</li>
                <li>движения без боли</li>
              </ul>
              <strong>Пройдя курс ЭКЗАРТА Silver, вы сможете быстро помочь своим пациентам!</strong></p>
              <ul class="list-inline">
                <li>Дата: Июль 2014</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>ЭКЗАРТА Gold</h2>
              <p class="item-intro text-muted">2-я ступень<br>Продолжительность: 5 дней</p>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""> -->
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #ffd700; margin-bottom: 5px"></i>
              <p class="main">Во время прохождения курса ЭКЗАРТА Gold вы отточите базовые техники и упражнения, которые позволяют быстро уменьшить или устранить боль и восстановить функциональные движения.
                Простота и эффективность технологии с использованием кинезитерапевтической установки «ЭКЗАРТА» делает ее незаменимым дополнением к обычным методам терапии, и не имеет равных для уменьшения боли и улучшения функций.</p>
              <p class="main">ЭКЗАРТА Gold является следующей ступенью после курса ЭКЗАРТА Silver. ЭКЗАРТА Gold необходимо пройти, если Вы стремитесь получить более глубокие практические и теоретические знания по применению технологии ЭКЗАРТА на
                различных отделах позвоночника и конечностях.</p>
              <p class="main">Практические упражнения с большим количеством прикладных рекомендаций от наших преподавателей и опытных сокурсников, а так же взаимодействие между участниками курса, является основным направлением курсов. ЭКЗАРТА Gold
                включает:</p>
              <ul class="main_ul">
                <li>ЭКЗАРТА Gold Спина и таз</li>
                <li>ЭКЗАРТА Gold Шея</li>
                <li>ЭКЗАРТА Gold Верхние конечности</li>
                <li>ЭКЗАРТА Gold Нижние конечности</li>
                <li>ЭКЗАРТА Gold Интеграция. Уроки мастерства.</li>
              </ul>
              <p class="main">После успешного освоения программы ЭКЗАРТА Gold вы поднимете эффективность работы со сложными пациентами на новую высоту!
                "С 01 июня 2016 года для курсантов, желающих обучиться методике «Экзарта Silver», действует следующая программа поддержки:</p>
              <ol>
                <li>При предварительной покупке или оснащении Вашего кабинета кинезитерапии системой «Экзарта», стоимость обучения составит 22 500 рублей.</li>
                <li>Вы также можете, не приобретая и не имея кинезиотерпевтическую установку «Экзарта», пройти обучение «Экзарта» за 30 000 р.</li>
              </ol>
              <p class="main">В подарок Вы получите тренажер для индивидуального использования «Экзарта-Спорт». Для мастеров и опытных курсантов, стремящихся улучшить свои навыки и освоить уникальную методику «Экзарта Gold», действует следующая
                программа совершенствования: </p>
              <ol class="main_ul">
                <li>При предварительном заказе или покупке потолочной или свободно-стоящей системы «Экзарта» стоимость обучения составит 30 000 рублей.</li>
                <li>В случае отсутствия установки «Экзарта», стоимость обучения составит 50 000 рублей.</li>
              </ol>
              <strong>Пройдя курс ЭКЗАРТА Gold, вы сможете быстро помочь своим пациентам!</strong></p>
              <ul class="list-inline">
                <li>Date: July 2014</li>
                <li>Client: Round Icons</li>
                <li>Category: Graphic Design</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>ЭКЗАРТА Platinum</h2>
              <p class="item-intro text-muted">3-я ступень<br>Продолжительность: 5 дней</p>
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #E5E4E2; margin-bottom: 5px"></i>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""> -->
              <p class="main">Во время прохождения курса ЭКЗАРТА Gold вы отточите базовые техники и упражнения, которые позволяют быстро уменьшить или устранить боль и восстановить функциональные движения. Простота и эффективность технологии с
                использованием кинезитерапевтической установки «ЭКЗАРТА» делает ее незаменимым дополнением к обычным методам терапии, и не имеет равных для уменьшения боли и улучшения функций. ЭКЗАРТА Gold является следующей ступенью после курса
                ЭКЗАРТА Silver. ЭКЗАРТА Gold необходимо пройти, если Вы стремитесь получить более глубокие практические и теоретические знания по применению технологии ЭКЗАРТА на различных отделах позвоночника и конечностях. Практические упражнения
                с большим количеством прикладных рекомендаций от наших преподавателей и опытных сокурсников, а так же взаимодействие между участниками курса, является основным направлением курсов. ЭКЗАРТА Gold включает:</p>
              <ul class="main_ul">
                <li>ЭКЗАРТА Gold Спина и таз</li>
                <li>ЭКЗАРТА Gold Шея</li>
                <li>ЭКЗАРТА Gold Верхние конечности</li>
                <li>ЭКЗАРТА Gold Нижние конечности</li>
                <li>ЭКЗАРТА Gold Интеграция. Уроки мастерства.</li>
              </ul>
              <p class="main">После успешного освоения программы ЭКЗАРТА Gold вы поднимете эффективность работы со сложными пациентами на новую высоту! "С 01 июня 2016 года для курсантов, желающих обучиться методике «Экзарта Silver», действует
                следующая программа поддержки:</p>
              <ol class="main_ul">
                <li>При предварительной покупке или оснащении Вашего кабинета кинезитерапии системой «Экзарта», стоимость обучения составит 22 500 рублей.</li>
                <li>Вы также можете, не приобретая и не имея кинезиотерпевтическую установку «Экзарта», пройти обучение «Экзарта» за 30 000 р.</li>
              </ol>
              <p class="main">В подарок Вы получите тренажер для индивидуального использования «Экзарта-Спорт». Для мастеров и опытных курсантов, стремящихся улучшить свои навыки и освоить уникальную методику «Экзарта Gold», действует следующая
                программа совершенствования: </p>
              <ol class="main_ul">
                <li>При предварительном заказе или покупке потолочной или свободно-стоящей системы «Экзарта» стоимость обучения составит 30 000 рублей.</li>
                <li>В случае отсутствия установки «Экзарта», стоимость обучения составит 50 000 рублей.</li>
              </ol>
              <strong>Пройдя курс ЭКЗАРТА Gold, вы сможете быстро помочь своим пациентам!</strong></p>
              <ul class="list-inline">
                <li>Дата: Июль 2014</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>ЭКЗАРТА Platinum</h2>
              <p class="item-intro text-muted">3-я ступень<br>Продолжительность: 5 дней</p>
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #E5E4E2; margin-bottom: 5px"></i>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""> -->
              <p class="main">Во время прохождения курса ЭКЗАРТА Gold вы отточите базовые техники и упражнения, которые позволяют быстро уменьшить или устранить боль и восстановить функциональные движения. Простота и эффективность технологии с
                использованием кинезитерапевтической установки «ЭКЗАРТА» делает ее незаменимым дополнением к обычным методам терапии, и не имеет равных для уменьшения боли и улучшения функций. ЭКЗАРТА Gold является следующей ступенью после курса
                ЭКЗАРТА Silver. ЭКЗАРТА Gold необходимо пройти, если Вы стремитесь получить более глубокие практические и теоретические знания по применению технологии ЭКЗАРТА на различных отделах позвоночника и конечностях. Практические упражнения
                с большим количеством прикладных рекомендаций от наших преподавателей и опытных сокурсников, а так же взаимодействие между участниками курса, является основным направлением курсов. ЭКЗАРТА Gold включает:</p>
              <ul class="main_ul">
                <li>ЭКЗАРТА Gold Спина и таз</li>
                <li>ЭКЗАРТА Gold Шея</li>
                <li>ЭКЗАРТА Gold Верхние конечности</li>
                <li>ЭКЗАРТА Gold Нижние конечности</li>
                <li>ЭКЗАРТА Gold Интеграция. Уроки мастерства.</li>
              </ul>
              <p class="main">После успешного освоения программы ЭКЗАРТА Gold вы поднимете эффективность работы со сложными пациентами на новую высоту! "С 01 июня 2016 года для курсантов, желающих обучиться методике «Экзарта Silver», действует
                следующая программа поддержки:</p>
              <ol class="main_ul">
                <li>При предварительной покупке или оснащении Вашего кабинета кинезитерапии системой «Экзарта», стоимость обучения составит 22 500 рублей.</li>
                <li>Вы также можете, не приобретая и не имея кинезиотерпевтическую установку «Экзарта», пройти обучение «Экзарта» за 30 000 р.</li>
              </ol>
              <p class="main">В подарок Вы получите тренажер для индивидуального использования «Экзарта-Спорт». Для мастеров и опытных курсантов, стремящихся улучшить свои навыки и освоить уникальную методику «Экзарта Gold», действует следующая
                программа совершенствования: </p>
              <ol class="main_ul">
                <li>При предварительном заказе или покупке потолочной или свободно-стоящей системы «Экзарта» стоимость обучения составит 30 000 рублей.</li>
                <li>В случае отсутствия установки «Экзарта», стоимость обучения составит 50 000 рублей.</li>
              </ol>
              <strong>Пройдя курс ЭКЗАРТА Gold, вы сможете быстро помочь своим пациентам!</strong></p>
              <ul class="list-inline">
                <li>Дата: Июль 2014</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>ЭКЗАРТА Platinum</h2>
              <p class="item-intro text-muted">3-я ступень<br>Продолжительность: 5 дней</p>
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #E5E4E2; margin-bottom: 5px"></i>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""> -->
              <p class="main">Во время прохождения курса ЭКЗАРТА Gold вы отточите базовые техники и упражнения, которые позволяют быстро уменьшить или устранить боль и восстановить функциональные движения. Простота и эффективность технологии с
                использованием кинезитерапевтической установки «ЭКЗАРТА» делает ее незаменимым дополнением к обычным методам терапии, и не имеет равных для уменьшения боли и улучшения функций. ЭКЗАРТА Gold является следующей ступенью после курса
                ЭКЗАРТА Silver. ЭКЗАРТА Gold необходимо пройти, если Вы стремитесь получить более глубокие практические и теоретические знания по применению технологии ЭКЗАРТА на различных отделах позвоночника и конечностях. Практические упражнения
                с большим количеством прикладных рекомендаций от наших преподавателей и опытных сокурсников, а так же взаимодействие между участниками курса, является основным направлением курсов. ЭКЗАРТА Gold включает:</p>
              <ul class="main_ul">
                <li>ЭКЗАРТА Gold Спина и таз</li>
                <li>ЭКЗАРТА Gold Шея</li>
                <li>ЭКЗАРТА Gold Верхние конечности</li>
                <li>ЭКЗАРТА Gold Нижние конечности</li>
                <li>ЭКЗАРТА Gold Интеграция. Уроки мастерства.</li>
              </ul>
              <p class="main">После успешного освоения программы ЭКЗАРТА Gold вы поднимете эффективность работы со сложными пациентами на новую высоту! "С 01 июня 2016 года для курсантов, желающих обучиться методике «Экзарта Silver», действует
                следующая программа поддержки:</p>
              <ol class="main_ul">
                <li>При предварительной покупке или оснащении Вашего кабинета кинезитерапии системой «Экзарта», стоимость обучения составит 22 500 рублей.</li>
                <li>Вы также можете, не приобретая и не имея кинезиотерпевтическую установку «Экзарта», пройти обучение «Экзарта» за 30 000 р.</li>
              </ol>
              <p class="main">В подарок Вы получите тренажер для индивидуального использования «Экзарта-Спорт». Для мастеров и опытных курсантов, стремящихся улучшить свои навыки и освоить уникальную методику «Экзарта Gold», действует следующая
                программа совершенствования: </p>
              <ol class="main_ul">
                <li>При предварительном заказе или покупке потолочной или свободно-стоящей системы «Экзарта» стоимость обучения составит 30 000 рублей.</li>
                <li>В случае отсутствия установки «Экзарта», стоимость обучения составит 50 000 рублей.</li>
              </ol>
              <strong>Пройдя курс ЭКЗАРТА Gold, вы сможете быстро помочь своим пациентам!</strong></p>
              <ul class="list-inline">
                <li>Дата: Июль 2014</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>ЭКЗАРТА Platinum</h2>
              <p class="item-intro text-muted">3-я ступень<br>Продолжительность: 5 дней</p>
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #E5E4E2; margin-bottom: 5px"></i>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""> -->
              <p class="main">Во время прохождения курса ЭКЗАРТА Gold вы отточите базовые техники и упражнения, которые позволяют быстро уменьшить или устранить боль и восстановить функциональные движения. Простота и эффективность технологии с
                использованием кинезитерапевтической установки «ЭКЗАРТА» делает ее незаменимым дополнением к обычным методам терапии, и не имеет равных для уменьшения боли и улучшения функций. ЭКЗАРТА Gold является следующей ступенью после курса
                ЭКЗАРТА Silver. ЭКЗАРТА Gold необходимо пройти, если Вы стремитесь получить более глубокие практические и теоретические знания по применению технологии ЭКЗАРТА на различных отделах позвоночника и конечностях. Практические упражнения
                с большим количеством прикладных рекомендаций от наших преподавателей и опытных сокурсников, а так же взаимодействие между участниками курса, является основным направлением курсов. ЭКЗАРТА Gold включает:</p>
              <ul class="main_ul">
                <li>ЭКЗАРТА Gold Спина и таз</li>
                <li>ЭКЗАРТА Gold Шея</li>
                <li>ЭКЗАРТА Gold Верхние конечности</li>
                <li>ЭКЗАРТА Gold Нижние конечности</li>
                <li>ЭКЗАРТА Gold Интеграция. Уроки мастерства.</li>
              </ul>
              <p class="main">После успешного освоения программы ЭКЗАРТА Gold вы поднимете эффективность работы со сложными пациентами на новую высоту! "С 01 июня 2016 года для курсантов, желающих обучиться методике «Экзарта Silver», действует
                следующая программа поддержки:</p>
              <ol class="main_ul">
                <li>При предварительной покупке или оснащении Вашего кабинета кинезитерапии системой «Экзарта», стоимость обучения составит 22 500 рублей.</li>
                <li>Вы также можете, не приобретая и не имея кинезиотерпевтическую установку «Экзарта», пройти обучение «Экзарта» за 30 000 р.</li>
              </ol>
              <p class="main">В подарок Вы получите тренажер для индивидуального использования «Экзарта-Спорт». Для мастеров и опытных курсантов, стремящихся улучшить свои навыки и освоить уникальную методику «Экзарта Gold», действует следующая
                программа совершенствования: </p>
              <ol class="main_ul">
                <li>При предварительном заказе или покупке потолочной или свободно-стоящей системы «Экзарта» стоимость обучения составит 30 000 рублей.</li>
                <li>В случае отсутствия установки «Экзарта», стоимость обучения составит 50 000 рублей.</li>
              </ol>
              <strong>Пройдя курс ЭКЗАРТА Gold, вы сможете быстро помочь своим пациентам!</strong></p>
              <ul class="list-inline">
                <li>Дата: Июль 2014</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
