{% extends 'home_new.html' %}
{% load staticfiles%}
{% block body_block %}
<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Тренировки</h2>
        <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/func_fit.jpg' %}" class="img-responsive" alt="Функциональный тренинг">
        </a>
        <div class="portfolio-caption">
          <h4>Функциональный тренинг</h4>
          <!-- <p class="text-muted">Lorem ipsum dolor</p> -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/ekzarta_fit.jpg' %}" class="img-responsive" alt="Экзарта-умный фитнес">
        </a>
        <div class="portfolio-caption">
          <h4>Экзарта</h4>
          <!-- <p class="text-muted">умный фитнес</p> -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/yoga_fit.jpg' %}" class="img-responsive" alt="Йога">
        </a>
        <div class="portfolio-caption">
          <h4>Йога</h4>
          <!-- <p class="text-muted">Lorem ipsum dolor</p> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/stretching_fit.jpg' %}" class="img-responsive" alt="Стретчинг ПНФ">
        </a>
        <div class="portfolio-caption">
          <h4>Стретчинг ПНФ</h4>
          <!-- <p class="text-muted">Lorem ipsum dolor</p> -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/mio_fit.jpg' %}" class="img-responsive" alt="Мышечное освобождение">
        </a>
        <div class="portfolio-caption">
          <h4>Roll release</h4>
          <!-- <p class="text-muted">Мышечное освобождение</p> -->
        </div>
      </div>
      <div class="col-md-4 col-sm-4 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/portfolio/athletes_fit.jpg' %}" class="img-responsive" alt="Тренировка спортсменов">
        </a>
        <div class="portfolio-caption">
          <h4>Тренировка спортсменов</h4>
          <!-- <p class="text-muted">Диагностика нейромышечной системы</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Функциональный тренинг</h2>
              <p class="item-intro text-muted">Новое направление smart fitness</p>
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #c0c0c0;margin-bottom: 5px"></i>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/roundicons-free.png" alt="Экзарта silver"> -->
              <p class="main">Игра в теннис, занятия спортом и физическими упражнениями или любой другой активный отдых должны приносить в первую очередь удовольствие и пользу. Именно поэтому, новым фитнес - направлением у нас в клбуе стал кинезиотерапевтический тренажер <strong>Экзарта</strong>.</p>
              <p class="main">Наряду с реабилитационным и восстановительными курсами после травм, <strong>Экзарта</strong> позволяет проводить массаж и проработку проблемных мышечных зон в безопорном состоянии клиента. Благодаря отличительной особенности <strong>Экзарты</strong> – выполнить физическую нагрузку на мышцы в безопорном состоянии тела - данный вид фитнес-тренировок
                 не имеет противопоказаний доступен как ребенку, так и физически подготовленному человеку.</p>
              <p class="main">На тренажере работают настоящие профессионалы своего дела. Наша цель - здоровый спорт, максимальная польза для тела и здоровья.
                 Откройте для себя <strong>Экзарту</strong>, пробуйте ее многогранные возможности, тренируйтесь с удовольствием и пользой.</p>
              <ul class="main_ul">
                <li>идеальный баланс и точность</li>
                <li>большое количество упражнений в закрытой кинематической цепи (упражнения с весом собственного тела)</li>
                <li>неустойчивость (нестабильность) опоры</li>
                <li>движения в нескольких плоскостях (3D-тренировка)</li>
                <li>массаж в безопорном положении</li>
                <li>движения без боли</li>
              </ul>
              <strong>Будьте в форме вместе с нами!</strong></p>
              <ul class="list-inline">
                <li>{% now "M Y" %}</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>ЭКЗАРТА</h2>
              <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt="">
              <p class="main">Функциональные тренировки с помощью тренажеров <strong>Экзарта</strong> – это абсолютно новый метод тренировок работы со своим телом на весу за счет гравитации.
                Суть тренировок заключена в использовании собственного веса, при этом все мышцы находятся в рабочем состоянии непрерывно.</p>
              <p class="main"><strong>Экзарта</strong>, прежде всего, — прекрасный инструмент для эффективного метаболического тренинга. Гибкая конструкция петель превращает самые простые отжимания в сложнейшее комбинационное упражнение,
                задействующее массу мышечных
                групп одно-временно. Благодаря этому, а также из-за повышенной координационной сложности большинства упражнений, тренинг на TRX способствует более активному расходу энергии во время занятия, а также созданию высокого уровня
                метаболического отклика, который позволит тратить калории спустя многие часы после окончания тренировки.</p>
              <p class="main">Кроме того, <strong>Экзарта</strong> полезен как снаряд, позволяющий тренировать практически все тело без ударной или прямой нагрузки на позвоночник.</p>
              <strong>Плюсы системы <strong>Экзарта</strong>:</strong>
              <ul class="main_ul">
                <li><strong>Безопасность</strong></li>
                <ul class="ekz_list">
                  <li style="list-style-type: none;">Вы работаете только с весом своего тела. Не надо никакого дополнительного веса, которое может повредить как мышцы, так и позвоночник.
                    Главное — постопенно увеличивать нагрузки и время занятий.
                  </li>
                </ul>
                <li><strong>Эффективность</strong></li>
                <ul class="ekz_list">
                  <li style="list-style-type: none;">Благодаря тренажеру <strong>Экзарта</strong> вы одновременно качаете несколько групп мышц. Кроме этого, развиваете ловкость, выносливость, даете хорошую нагрузку на костную систему организма.
                    Для более эффективных тренировок желательно начинать работу с тренером.
                  </li>
                </ul>
                <li><strong>Универсальность</strong></li>
                <ul class="ekz_list">
                  <li style="list-style-type: none;">С этим приспособлением могут тренироваться как новички, так и профессионалы. Также может использоваться людьми самых разнообразных профессий.
                    В зависимости от необходимости тренажер подстраивается под любой тип тренировки.
                  </li>
                </ul>
              </ul>
              <p class="main"><strong>Экзарта</strong> универсальна, поэтому подойдет как мужчинам, так и женщинам, причем не только начинающим, но и опытным спортсменам:
                она позволяют легко регулировать нагрузку от 5 до 100% с помощью собственной массы, при
                этом для увеличения нагрузки достаточно всего лишь изменить угол наклона тела либо увеличить темп.
                Кроме того, благодаря высокой эффективности упражнений, тренируясь на тренажере <strong>Экзарта</strong>, вы сможете сократить стандартное время тренировок до 40-50 минут.</p>
              <strong>Будьте в форме вместе с нами!</strong></p>  
              <ul class="list-inline">
                <li>{% now "M Y" %}</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>ЭКЗАРТА Platinum</h2>
              <p class="item-intro text-muted">3-я ступень<br>Продолжительность: 5 дней</p>
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #E5E4E2; margin-bottom: 5px"></i>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""> -->
              <p class="main">Во время прохождения курса ЭКЗАРТА Gold вы отточите базовые техники и упражнения, которые позволяют быстро уменьшить или устранить боль и восстановить функциональные движения. Простота и эффективность технологии с
                использованием кинезитерапевтической установки «ЭКЗАРТА» делает ее незаменимым дополнением к обычным методам терапии, и не имеет равных для уменьшения боли и улучшения функций. ЭКЗАРТА Gold является следующей ступенью после курса
                ЭКЗАРТА Silver. ЭКЗАРТА Gold необходимо пройти, если Вы стремитесь получить более глубокие практические и теоретические знания по применению технологии ЭКЗАРТА на различных отделах позвоночника и конечностях. Практические упражнения
                с большим количеством прикладных рекомендаций от наших преподавателей и опытных сокурсников, а так же взаимодействие между участниками курса, является основным направлением курсов. ЭКЗАРТА Gold включает:</p>
              <ul class="main_ul">
                <li>ЭКЗАРТА Gold Спина и таз</li>
                <li>ЭКЗАРТА Gold Шея</li>
                <li>ЭКЗАРТА Gold Верхние конечности</li>
                <li>ЭКЗАРТА Gold Нижние конечности</li>
                <li>ЭКЗАРТА Gold Интеграция. Уроки мастерства.</li>
              </ul>
              <p class="main">После успешного освоения программы ЭКЗАРТА Gold вы поднимете эффективность работы со сложными пациентами на новую высоту! "С 01 июня 2016 года для курсантов, желающих обучиться методике «Экзарта Silver», действует
                следующая программа поддержки:</p>
              <ol class="main_ul">
                <li>При предварительной покупке или оснащении Вашего кабинета кинезитерапии системой «Экзарта», стоимость обучения составит 22 500 рублей.</li>
                <li>Вы также можете, не приобретая и не имея кинезиотерпевтическую установку «Экзарта», пройти обучение «Экзарта» за 30 000 р.</li>
              </ol>
              <p class="main">В подарок Вы получите тренажер для индивидуального использования «Экзарта-Спорт». Для мастеров и опытных курсантов, стремящихся улучшить свои навыки и освоить уникальную методику «Экзарта Gold», действует следующая
                программа совершенствования: </p>
              <ol class="main_ul">
                <li>При предварительном заказе или покупке потолочной или свободно-стоящей системы «Экзарта» стоимость обучения составит 30 000 рублей.</li>
                <li>В случае отсутствия установки «Экзарта», стоимость обучения составит 50 000 рублей.</li>
              </ol>
              <strong>Пройдя курс ЭКЗАРТА Gold, вы сможете быстро помочь своим пациентам!</strong></p>
              <ul class="list-inline">
                <li>Дата: Июль 2014</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Стретчинг ПНФ</h2>
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #E5E4E2; margin-bottom: 5px"></i>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""> -->
              <p class="main"><strong>ПНФ</strong> – один из методов физической терапии, реабилитации, основанный на
                принципах функциональной анатомии и нейрофизиологии человека.
                Главная цель применения ПНФ состоит в достижении максимально возможного
                уровня функционирования пациента или спортсмена</p>
              <strong>С развитием метода стала очевидной его эффективность во многих областях восстановительной и спортивной медицины: </strong>
              <ul class="main_ul">
                <li>в травматологии и спортивной медицине – реабилитация после травм и операций</li>
                <li>в ортопедии и вертебрологии - при грыжах дисков и изменениях осанки</li>
                <li>в неврологии – после ОНМК, черепно-мозговых и спинальных травм, при поражениях периферических нервов, при болезни Паркинсона и т.д.</li>
                <li>в педиатрии – при детском церебральном параличе, для стимулирования развития моторики, исправления осанки и др.</li>
                <li>в ревматологии – при артритах и артрозах суставов</li>
                <li>после эндопротезирования суставов.</li>
              </ul>
              <p class="main">
                Метод <strong>ПНФ</strong> позволяет увеличивать силу и выносливость ослабленных мышц,
                увеличивать объем движений, улучшать координацию, стабильность движений,
                добиваясь более высокого уровня функционирования пациента. При этом виде
                лечения специалист и пациент работают согласованно, постепенно стабилизируя
                все отделы опорно-двигательного аппарата, добиваясь полного выздоровления.
              </p>
              <ul class="list-inline">
                <li>{% now "M Y" %}</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Roll Release</h2>
              <p class="item-intro text-muted">Мышечное освобождение</p>
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #E5E4E2; margin-bottom: 5px"></i>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""> -->
              <p class="main">Это сбалансированный комплекс упражнений, направленный на улучшение самочувствия и избавление от неприятных ощущений,
                является своеобразным расслабляющим массажем, который благоприятно влияет на весь организм. Отлично подходит для людей любой спортивной подготовки, возраста и пола. Не требует много времени на освоение и даёт положительные результаты
                уже после нескольких занятий.
                Профессиональные тренеры помогут вам освоить весь комплекс упражнений, сделают занятия увлекательными и интересными</p>
              <strong>Использование этой методики позволяет:</strong>
              <ul class="main_ul">
                <li>систематически восстанавливать эластичность тканей</li>
                <li>повышать плавность и функциональность движений</li>
                <li>снижать болевые ощущения, предотвращает травмы и повышает эффективность движений в различных упражнениях</li>
              </ul>
              <ul class="list-inline">
                <li>Дата: февраль 2019</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Тренировка спортсменов</h2>
              <p class="item-intro text-muted">Диагностика нейромышечной системы спортсмена с использованием тренажёра «Экзарта»</p>
              <i class="fa fa-certificate fa-4x" aria-hidden="true" style="color: #E5E4E2; margin-bottom: 5px"></i>
              <!-- <img class="img-responsive img-centered" src="img/portfolio/startup-framework-preview.png" alt=""> -->
              <p class="main">Понятие нейромышечного контроля включает поддержание фукциональной стабильности сустава за счет взаимодействия статических и динамических факторов, регуляцию которого осуществляет центральная нервная система</p>
              <p class="main">Методика «Экзарта» осуществляет процесс тренировки, а также является эффективным способом диагностики «слабого звена» опорно-двигательного аппарата испытуемого. Использование функциональных тренировок на тренажёре у
                спортсменов, наряду с выявлением слабых звеньев физической подготовки, способствует развитию физических качеств: силы, выносливости, быстроты и ловкости</p>
              <p class="main">Применение подвесных систем является целесообразной и перспективной методикой, способствующей оптимизации тренировочного процесса.</p>
              <p class="main">Целью диагностики нейромышечной системы спортсмена с использованием подвесных систем является улучшение определения функциональных возможностей двигательной сферы спортсмена.</p>
              <p class="main">В отличии от подхода, предполагающего тестирование одной мышечной группы, данный метод позволяет диагностировать функционально связанные мышечные системы, в том числе и систему стабилизации тела локальными мышцами, а
                также миофасциальные цепи, за счёт которых реализуется двигательный акт в спорте.</p>

              <ul class="list-inline">
                <li>{% now "M Y" %}</li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Закрыть</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
